<%= comment.user.username %><br>
<%= markdown(comment.comment) %><br>
<br>
<p>
  <%= link_to '删除', [comment.commentable, comment],
               :method => :delete,
               :confirm => "确定删除吗?"  %>
</p>