<% provide(:title, '关于') %>
<div class="row">
<div class="span7">
  <%= image_tag("me.png", :size => "520x360", :alt => "博主") %>
  <h2>Tailang</h2>
  <ul>
	<li>爱好： 骑行、乒乓、coding、看书</li>
	<li>特征： 有时话唠，有时害羞；有点理想主义，有点拖延症</li>
	<li>标签： linux忠实用户/电子/骑行者/ruby</li>
	<li>方向： 曾经迷恋硬件，现初学web</li>
	<li>老家： 浙江.嘉兴</li>
	<li>豆瓣: <a href="http://www.douban.com/people/Tailang90/">http://www.doubancom/people/Tailang90/</a></li>
	<li>Email: caopingcpu#gmail.com</li>
  </ul>
</div>

<div class="span5">
<h3>正在阅读的书籍</h3>
<script type="text/javascript" src="http://www.douban.com/service/badge/Tailang90/?show=dolist&amp;select=random&amp;n=5&amp;columns=5&amp;hidelogo=yes&amp;hideself=yes&amp;cat=book" ></script>...
<h3>阅读过的书籍</h3>
<script type="text/javascript" src="http://www.douban.com/service/badge/Tailang90/?show=collection&amp;select=random&amp;n=5&amp;columns=5&amp;hidelogo=yes&amp;hideself=yes&amp;cat=book" ></script>...
<h3>想阅读的书记</h3>
<script type="text/javascript" src="http://www.douban.com/service/badge/Tailang90/?show=wishlist&amp;select=random&amp;n=5&amp;columns=5&amp;hidelogo=yes&amp;hideself=yes&amp;cat=book" ></script>...
<h3>音乐</h3>
<script type="text/javascript" src="http://www.douban.com/service/badge/Tailang90/?show=collection&amp;select=random&amp;n=5&amp;columns=5&amp;hidelogo=yes&amp;hideself=yes&amp;cat=music" ></script>...
</div>
</div>
