 <% Comment.limit(10).all.each do |comment| %>
   <div class="aside-comment">
   	<%= image_tag(comment.user.avatar_url(:small)) %>
   	<span><%= comment.user.username %></span>: <%= markdown(comment.comment) %>
   </div>
 <% end -%>
 ......
   